/* Signinjs */

.container{
  margin : auto;
}
a {
  cursor : pointer;
}

.card-signin{
  margin: auto;
  margin-top : 50px;
  width:400px;
  text-align : center
}


/* Timeline */

.card-timeline {
  margin : 20px auto;
  width: 100%;
  text-align: center
}

/* Profile */

.card-profile{
  margin: auto;
  margin-top : 50px;
  width:400px;
  text-align : center
}

/* Admin Profile */

.adminButton{
  margin-top:50px;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  height: 80%;
}

.adminButton2{
  margin-top:50px;
  width: 80%;
  height: 80%;
}